<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
		<title>SYSK - USER APP</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggler">
			   	<a class="navbar-brand" th:href="@{/admin}">SYSK-Admin</a>
			    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				    <li class="nav-item"><a class="nav-link" th:href="@{/admin}">UserAPI</a></li>
				    <li class="nav-item active"><a class="nav-link" th:href="@{/admin/user}">App User <span class="sr-only">(current)</span></a></li>
			      	<li class="nav-item"><a class="nav-link" th:href="@{/admin/place}">Place</a></li>
			      	<li class="nav-item"><a class="nav-link" th:href="@{/admin/city}">City</a></li>
			      	<li class="nav-item"><a class="nav-link" th:href="@{/admin/category}">Category</a></li>
			    </ul> 	  	
			  	<form th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0">
					<input type="submit" value="Sign Out" class="form-control mr-sm-2"/>
				</form>	  
			</div>
		</nav>		  
		<div>
			<h1>ADMIN - Users of the mobile app</h1>
			<table class="table table-striped">
				<tr>					
					<th>Username</th>
					<th>Email</th>
					<th></th>
					<th></th>
					<th></th>						
				</tr>
				<tr th:each = "user : ${users}">
					<td th:text="'- '+${user.username}"></td>
					<td th:text="${user.email}"></td>
					<!-- Note! In the case of in-memory users use hasAuthority instead of hasRole. -->
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/user/delete/{id}(id=${user.idUser})}" class="btn btn-danger">Delete</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/user/newpwd/{id}(id=${user.idUser})}" class="btn btn-warning">Change password</a></td>
					<td><a th:href="@{/admin/user/edit/{id}(id=${user.idUser})}" class="btn btn-warning">Edit</a></td>
				</tr>
			</table>
			<a href="/admin/user/create" class="btn btn-success">Add an user</a>
		</div>
		
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>

