<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>SYSK - ADMIN</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>
	<body>
		<div>
			<h1>ADMIN</h1>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out"/>
			</form>
			<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
			
			<div class="btn-group" role="group" aria-label="Menu">
			  <button type="button" class="btn btn-secondary">Manage Places</button>
			  <button type="button" class="btn btn-secondary">Manage Cities</button>
			</div>
			<table class="table table-striped">
				<tr>					
					<th>Username</th>
					<th>Email</th>
					<th>Admin</th>
					<th></th>
					<th></th>						
				</tr>
				<tr th:each = "user : ${users}">
					<td th:text="'- '+${user.username}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.isAdmin}"></td>
					<!-- Note! In the case of in-memory users use hasAuthority instead of hasRole. -->
					<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/deleteUser/{id}(id=${book.idB})}" class="btn btn-danger">Delete</a></td>
					<td><a th:href="@{/admin/user/{id}(id=${user.idUser})}" class="btn btn-warning">Edit</a></td>
				</tr>
			</table>
			<a href="/admin/addUser" class="btn btn-success">Add an user</a>
		</div>
	</body>
</html>

