<!DOCTYPEhtml>
<htmlxmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>SYSK - edit user</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>
	<body>
		<h1>Add an user</h1>
		
		<div>
			<form th:object="${user}" th:action="@{/admin/updateuser/{id}(id=${user.idUser})}" action="#" method="post">				
				<label for="username">Username:</label>
				<input type="text" id="username" th:field="*{username}"  th:text="*{username}"/>

				<label for="email">Email:</label>
				<input type="text" id="email" th:field="*{email}"   th:text="*{email}" />
				<div class="form-check">
				  <label class="form-check-label" for="isAdmin">Admin:</label>
				  <input class="form-check-input" type="checkbox" value="" id="isAdmin" th:field="*{isAdmin}" th:text="*{isAdmin}">
				</div>
				<input type="submit" value="Save"></input>
			</form>
		</div>
		<div>
			<form th:object="${user}" th:action="@{/admin/updatepwd/{id}(id=${user.idUser})}" action="#" method="post">						
				<label for="password">Password:</label>
				<input type="password" id="passwordHash" th:field="*{passwordHash}" />
				<label for="passwordRepeat">Price:</label>
				<input type="password" id="passwordRepeat" />
				<input type="submit" value="Save"></input>
			</form>
		</div>			
	</body>
</html>